.image-1-icon11 {
  position: absolute;
  top: 0;
  left: 534px;
  width: 404px;
  height: 226px;
  object-fit: cover;
}
.about-us30,
.blog27,
.events29,
.newsletter27 {
  position: absolute;
  top: 264px;
  left: 115px;
  display: inline-block;
  width: 142px;
  height: 35px;
}
.blog27,
.events29,
.newsletter27 {
  top: 265px;
  left: 322px;
  width: 102px;
  height: 26px;
}
.blog27,
.newsletter27 {
  top: 263px;
  left: 484px;
  width: 84px;
}
.newsletter27 {
  left: 635px;
  width: 148px;
  height: 29px;
}
.finance57 {
  margin: 0;
}
.finance56 {
  position: absolute;
  top: 265px;
  left: 854px;
  display: inline-block;
  width: 106px;
  height: 21px;
}
.about-us-child26,
.about-us-child27 {
  position: absolute;
  top: 290px;
  left: 115px;
  width: 102px;
  height: 2px;
}
.about-us-child27 {
  top: 291px;
  left: 322px;
  width: 73px;
}
.about-us-child28 {
  position: absolute;
  top: 290.5px;
  left: 482.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 52px;
  height: 1px;
}
.about-us-child29 {
  position: absolute;
  top: 290px;
  left: 854px;
  width: 89px;
  height: 2px;
}
.about-us-child30 {
  position: absolute;
  top: 290.5px;
  left: 634.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 122px;
  height: 1px;
}
.group-child40,
.register-now7 {
  position: absolute;
  top: 0;
  left: auto ;
  right: auto;
  width: auto;
  height: auto;
}
.register-now7 {
  top: 16px;
  left: 81px;
  display: inline-block;
  width: 250px;
  height: 30.9px;
}
.vector-parent10 {
  position: absolute;
  top: 2308px;
  left: 1109px;
  width: 331px;
  height: 63px;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
.about-us-inner7,
.group-child41 {
  position: absolute;
  top: 0;
  width: 1449px;
  height: 354px;
}
.group-child41 {
  left: 0;
  background-color: var(--color-honeydew);
  mix-blend-mode: darken;
}
.about-us-inner7 {
  left: -9px;
}
.about-us-child31 {
  position: absolute;
  top: 97px;
  left: 169px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.about-us-inner8,
.group-child42,
.image-10-icon9 {
  position: absolute;
  left: 0;
  width: 1440px;
  height: 421px;
}
.group-child42 {
  top: 0;
  background-color: var(--color-mediumspringgreen-300);
}
.about-us-inner8,
.image-10-icon9 {
  top: 2135px;
}
.image-10-icon9 {
  top: 2219px;
  left: 12px;
  width: 368px;
  height: 213px;
  object-fit: cover;
}
.about-us31 {
  position: absolute;
  top: 2177px;
  left: 407px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 96px;
  height: 67px;
}
.blog28,
.events30,
.finance58,
.newsletter28 {
  position: absolute;
  top: 2181px;
  left: 546px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 108px;
  height: 30px;
}
.blog28,
.finance58,
.newsletter28 {
  top: 2177px;
  left: 680px;
  width: 94px;
  height: 34px;
}
.finance58,
.newsletter28 {
  top: 2179px;
  left: 783px;
  width: 116px;
  height: 30px;
}
.finance58 {
  top: 2177px;
  left: 934px;
  width: 120px;
  height: 27px;
}
.about-us-child32,
.about-us-child33,
.about-us-child34,
.about-us-child35,
.about-us-child36 {
  position: absolute;
  top: 2203.5px;
  left: 410.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 61px;
  height: 1px;
}
.about-us-child33,
.about-us-child34,
.about-us-child35,
.about-us-child36 {
  left: 545.5px;
  width: 56px;
}
.about-us-child34,
.about-us-child35,
.about-us-child36 {
  left: 680.5px;
  width: 40px;
}
.about-us-child35,
.about-us-child36 {
  left: 782.5px;
  width: 97px;
}
.about-us-child36 {
  left: 936.5px;
  width: 58px;
}
.image-11-icon11 {
  position: relative;
  width: 30.3px;
  height: 30.3px;
  object-fit: cover;
}
.link55 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 76.3px;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  max-width: 264px;
}
.vector-icon27 {
  position: relative;
  width: 19.1px;
  height: 18.2px;
}
.img22,
.link56 {
  box-sizing: border-box;
  display: flex;
}
.img22 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9990198612213135px 1.9995994567871094px 2.999999761581421px
    2.9404296875px;
}
.link56 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  width: 72px;
  height: 72px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  max-width: 264px;
}
.vector-icon28 {
  position: relative;
  width: 20.5px;
  height: 16.6px;
}
.img23 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.6884751319885254px 1.8367011547088623px 3.738095760345459px
    1.7792999744415283px;
  box-sizing: border-box;
}
.image-12-icon11,
.image-13-icon11 {
  position: relative;
  width: 36.4px;
  height: 35.4px;
  object-fit: cover;
}
.image-12-icon11 {
  width: 23.3px;
  height: 28.3px;
}
.divsocial11,
.link59 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link59 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-11xl);
  max-width: 264px;
}
.divsocial11 {
  position: absolute;
  top: calc(50% + 1062px);
  left: calc(50% - 247.7px);
  width: 479px;
  height: 106.9px;
  gap: var(--gap-5xl);
  transform: rotate(0.66deg);
  transform-origin: 0 0;
}
.group-child43,
.register-now8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  height: 48px;
}
.register-now8 {
  top: 12.2px;
  left: 64.9px;
  display: inline-block;
  width: 200.6px;
  height: 23.6px;
}
.copyright-20218,
.vector-parent11 {
  position: absolute;
  color: var(--color-black);
}
.vector-parent11 {
  top: 258px;
  left: 1112px;
  width: 265.5px;
  height: 48px;
  font-size: var(--font-size-mid);
  font-family: var(--font-nunito-sans);
}
.copyright-20218 {
  top: 2478px;
  left: 485px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 624px;
  height: 19px;
}
.about-us-child37 {
  position: absolute;
  top: 341px;
  left: -27px;
  background-color: var(--color-mediumspringgreen-200);
  width: 1567px;
  height: 737px;
}
.findrome-the2,
.what-is-findorme2 {
  position: absolute;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-black);
}
.what-is-findorme2 {
  top: calc(50% - 890px);
  left: 229px;
  font-family: var(--font-puritan);
  width: 258px;
  height: 69px;
}
.findrome-the2 {
  top: 469px;
  left: 27.1px;
  font-family: var(--font-quattrocento-sans);
  width: 705.3px;
  height: 143.5px;
  transform: rotate(0.44deg);
  transform-origin: 0 0;
}
.group-child44 {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 194px;
  height: 91px;
}
.about-us-inner9 {
  position: absolute;
  top: 989px;
  left: 262px;
  width: 184px;
  height: 81px;
}
.explore2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.explore-frame {
  position: absolute;
  top: 1013px;
  left: 309px;
  width: 99px;
  height: 33px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-quattrocento-sans);
}
.about-us-child38 {
  position: absolute;
  top: 1190px;
  left: 575px;
  width: 312px;
  height: 901px;
}
.about-us-child39,
.our-members2 {
  position: absolute;
  top: 1204px;
  left: 42px;
  width: 312px;
  height: 900px;
}
.our-members2 {
  top: 1097px;
  left: 513px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-pt-serif-caption);
  color: var(--color-black);
  display: inline-block;
  width: 633px;
  height: 188px;
}
.about-us-child40 {
  position: absolute;
  top: 342px;
  left: 767px;
  background-color: var(--color-gainsboro);
  width: 673px;
  height: 736px;
}
.about-us-child41 {
  position: absolute;
  height: 35.21%;
  width: 21.68%;
  top: 46.56%;
  right: 2.39%;
  bottom: 18.23%;
  left: 75.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-us29 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2556px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
  font-family: var(--font-rubik);
}