body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-harmattan: Harmattan;
  --font-rubik: Rubik;
  --font-pt-serif-caption: "PT Serif Caption";
  --font-quattrocento-sans: "Quattrocento Sans";
  --font-puritan: Puritan;
  --font-nunito-sans: "Nunito Sans";
  --font-lato: Lato;
  --font-shippori-antique: "Shippori Antique";
  --font-dm-serif-text: "DM Serif Text";
  --font-rozha-one: "Rozha One";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --font-size-77xl: 96px;
  --font-size-base: 16px;
  --font-size-mini: 15px;
  --font-size-41xl: 60px;
  --font-size-11xl: 30px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-31xl: 50px;
  --font-size-16xl: 35px;
  --font-size-71xl: 90px;
  --font-size-61xl: 80px;
  --font-size-sm: 14px;
  --font-size-5xl-5: 24.5px;
  --font-size-26xl: 45px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-aquamarine: #6affb7;
  --color-mediumspringgreen-100: #26f08f;
  --color-mediumspringgreen-200: #17e283;
  --color-mediumspringgreen-300: rgba(38, 240, 143, 0.22);
  --color-gray: rgba(32, 26, 45, 0.1);
  --color-lightseagreen: #21b3a0;
  --color-gainsboro: #d9d9d9;
  --color-mediumseagreen: #24d597;
  --color-honeydew: #caecdc;
  --color-lightblue: #98c3c6;
  --color-skyblue: #82c0e2;
  --color-yellow: #fff600;
  --color-paleturquoise: #7fd6dc;
  --color-steelblue: #276a90;
  --color-gold: #ffd700;
  --color-whitesmoke: rgba(235, 235, 233, 0.22);

  /* Gaps */
  --gap-5xl: 24px;
  --gap-6xl: 25px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-9xs-7: 3.7px;
  --padding-11xs-8: 1.8px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-10xs-9: 2.9px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-17xl: 36px;
  --br-81xl: 100px;
  --br-14xl: 33px;
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-mini: 15px;
}
