.hovers {
  position: absolute;
  height: 4.09%;
  width: 4.18%;
  top: 17.17%;
  right: 86.03%;
  bottom: 78.75%;
  left: 9.79%;
  background-color: var(--color-white);
  overflow: hidden;
}
.the-arrow-represents {
  position: absolute;
  top: 41px;
  left: 53px;
  display: inline-block;
  width: 218px;
  height: 65px;
}
.buttons,
.quotes {
  position: absolute;
  height: 4.09%;
  width: 4.18%;
  top: 17.17%;
  right: 66.04%;
  bottom: 78.75%;
  left: 29.78%;
  background-color: var(--color-white);
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.quotes {
  right: 61.47%;
  left: 34.35%;
}
.image-1-icon {
  position: absolute;
  top: 9px;
  left: 129px;
  width: 178px;
  height: 92px;
  object-fit: cover;
}
.about-us,
.blog,
.events,
.finance,
.newsletter {
  position: absolute;
  top: 59px;
  left: 513px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog,
.events,
.finance,
.newsletter {
  left: 625px;
  width: 102px;
  height: 21px;
}
.blog,
.finance,
.newsletter {
  left: 737px;
  width: 84px;
}
.finance,
.newsletter {
  left: 821px;
  width: 103px;
  height: 19px;
}
.finance {
  left: 933px;
  width: 106px;
  height: 17px;
}
.home-page-child,
.home-page-child1,
.home-page-inner,
.home-page-item,
.line-div {
  position: absolute;
  top: 77.5px;
  left: 512.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 55px;
  height: 1px;
}
.home-page-child1,
.home-page-inner,
.home-page-item,
.line-div {
  left: 624.5px;
  width: 40px;
}
.home-page-child1,
.home-page-inner,
.line-div {
  left: 736.5px;
  width: 27px;
}
.home-page-child1,
.line-div {
  top: 77px;
  left: 820.5px;
  width: 61px;
}
.home-page-child1 {
  top: 75.5px;
  left: 932.5px;
  width: 47px;
}
.be-a-part,
.findrome-ideas {
  position: absolute;
  font-family: var(--font-nunito-sans);
  display: inline-block;
}
.be-a-part {
  top: 217px;
  left: 148px;
  font-size: var(--font-size-21xl);
  width: 631px;
  height: 69px;
}
.findrome-ideas {
  top: 308px;
  left: 157px;
  width: 441px;
  height: 75px;
}
.group-child,
.register-now {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 55px;
}
.register-now {
  top: 14px;
  left: 73.5px;
  display: inline-block;
  width: 227px;
  height: 27px;
}
.vector-parent {
  position: absolute;
  top: 402px;
  left: 157px;
  width: 300.5px;
  height: 55px;
  font-size: var(--font-size-mid);
  font-family: var(--font-nunito-sans);
}
.group-item {
  background-color: var(--color-honeydew);
  mix-blend-mode: darken;
}
.group-div,
.group-item,
.rectangle-icon,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 621px;
}
.rectangle-icon,
.vector-icon {
  width: 488px;
  height: 325.2px;
}
.rectangle-icon {
  height: 83.72%;
  width: 76.65%;
  top: 16.28%;
  right: 0;
  bottom: 0;
  left: 23.35%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon,
.vector-group {
  position: absolute;
  top: 115px;
  left: 728px;
  width: 558.8px;
  height: 443px;
}
.image-2-icon {
  top: 727px;
  left: 187px;
  width: 99px;
  height: 101px;
  object-fit: cover;
}
.our-previous-sponsors {
  position: absolute;
  top: 639px;
  left: 530px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 30px;
}
.image-3-icon,
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 727px;
  left: 372px;
  width: 111px;
  height: 139px;
  object-fit: cover;
}
.image-4-icon,
.image-5-icon {
  top: 735px;
  left: 572px;
  width: 237px;
  height: 93px;
}
.image-5-icon {
  top: 727px;
  left: 895px;
  width: 156px;
  height: 139px;
}
.and-many-more {
  margin: 0;
}
.and-many-more-container1 {
  line-break: anywhere;
  width: 100%;
}
.and-many-more-container {
  position: absolute;
  top: 903px;
  left: 587px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  width: 222px;
  height: 78px;
}
.forum,
.forum-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}
.forum-wrapper {
  top: 59px;
  left: 1071px;
  width: 37px;
  height: 14px;
}
.group-inner,
.home-page-inner1,
.image-10-icon {
  position: absolute;
  left: 0;
  width: 1440px;
  height: 421px;
}
.group-inner {
  top: 0;
  background-color: var(--color-mediumspringgreen-300);
}
.home-page-inner1,
.image-10-icon {
  top: 2079px;
}
.image-10-icon {
  top: 2168px;
  left: 158px;
  width: 178px;
  height: 92px;
  object-fit: cover;
}
.about-us1,
.blog1,
.events1,
.finance2,
.newsletter1 {
  position: absolute;
  top: 2218px;
  left: 439px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog1,
.events1,
.finance2,
.newsletter1 {
  left: 551px;
  width: 102px;
  height: 21px;
}
.blog1,
.finance2,
.newsletter1 {
  left: 663px;
  width: 84px;
}
.finance2,
.newsletter1 {
  left: 747px;
  width: 103px;
  height: 19px;
}
.finance2 {
  left: 859px;
  width: 106px;
  height: 17px;
}
.home-page-child2,
.home-page-child3,
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  position: absolute;
  top: 2236.5px;
  left: 438.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 55px;
  height: 1px;
}
.home-page-child3,
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  left: 550.5px;
  width: 40px;
}
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  left: 662.5px;
  width: 27px;
}
.home-page-child5,
.home-page-child6 {
  top: 2236px;
  left: 746.5px;
  width: 61px;
}
.home-page-child6 {
  top: 2234.5px;
  left: 858.5px;
  width: 47px;
}
.forum-container {
  position: absolute;
  top: 2218px;
  left: 997px;
  width: 37px;
  height: 14px;
}
.image-11-icon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.link {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  max-width: 264px;
}
.vector-icon1 {
  position: relative;
  width: 19.1px;
  height: 18px;
}
.img {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9990198612213135px 1.9995994567871094px 2.999999761581421px
    2.9404296875px;
  box-sizing: border-box;
}
.vector-icon2 {
  position: relative;
  width: 20.4px;
  height: 16.6px;
}
.img1 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.6884751319885254px 1.8367011547088623px 3.738095760345459px
    1.7792999744415283px;
  box-sizing: border-box;
}
.image-12-icon,
.image-13-icon {
  position: relative;
  width: 36px;
  height: 35px;
  object-fit: cover;
}
.image-12-icon {
  width: 23px;
  height: 28px;
}
.divsocial {
  position: absolute;
  top: calc(50% + 1114px);
  left: calc(50% - 229.6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.image-6-icon {
  position: absolute;
  top: 728px;
  left: 1118px;
  width: 190px;
  height: 116px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 956px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 409px;
}
.insights-of-our {
  position: absolute;
  top: 993px;
  left: 34px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 978px;
  height: 97px;
}
.image-16-icon {
  position: absolute;
  top: 956px;
  left: 0;
  width: 1440px;
  height: 409px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home-page-child7 {
  position: absolute;
  top: 1250px;
  left: 595px;
  width: 285px;
  height: 79px;
}
.home-page-child8,
.home-page-child9,
.to-the-events {
  position: absolute;
  top: 1911px;
  left: 339px;
  width: 285px;
  height: 79px;
}
.home-page-child9,
.to-the-events {
  left: 844px;
}
.to-the-events {
  top: 1279px;
  left: 669px;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito-sans);
  display: inline-block;
  width: 229px;
  height: 50px;
}
.home-page-child10 {
  position: absolute;
  top: 1499px;
  left: 946px;
  border-radius: var(--br-mini);
  width: 99px;
  height: 100px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.group-child1,
.home-page-child11 {
  position: absolute;
  top: 1388px;
  right: 190.2px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
  filter: blur(4px);
  width: 496px;
  height: 669px;
}
.group-child1 {
  top: 0;
  right: 365.7px;
}
.blogs,
.findrome {
  position: absolute;
  display: inline-block;
}
.findrome {
  top: 228px;
  left: 191px;
  color: var(--color-mediumspringgreen-200);
  width: 250px;
  height: 42px;
}
.blogs {
  top: 262px;
  left: 168px;
  font-size: var(--font-size-26xl);
  width: 200px;
  height: 105px;
}
.vector-icon3 {
  position: absolute;
  top: 1764.7px;
  left: 995.5px;
  width: 101.2px;
  height: 338.3px;
}
.our-blogs-are-container {
  position: absolute;
  top: 353px;
  left: 79px;
  font-size: var(--font-size-xl);
  text-align: center;
  display: inline-block;
  width: 332px;
  height: 121px;
}
.rectangle-parent {
  position: absolute;
  top: 1388px;
  right: 346.5px;
  width: 861.7px;
  height: 715px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito-sans);
}
.sample-image {
  top: 1128px;
  left: 336px;
  font-size: var(--font-size-17xl);
  color: var(--color-yellow);
  width: 262px;
  height: 43px;
}
.finance4,
.financial-freedom-is,
.findrome1,
.sample-image {
  position: absolute;
  font-family: var(--font-nunito-sans);
  display: inline-block;
}
.findrome1 {
  top: 1613px;
  left: 941px;
  font-size: var(--font-size-lg);
  color: var(--color-mediumspringgreen-100);
  width: 250px;
  height: 42px;
}
.finance4,
.financial-freedom-is {
  top: 1650px;
  left: 898px;
  font-size: var(--font-size-26xl);
  width: 208px;
  height: 52px;
}
.financial-freedom-is {
  top: 1741px;
  left: 832px;
  font-size: var(--font-size-xl);
  text-align: center;
  width: 310px;
  height: 121px;
}
.image-17-icon {
  position: absolute;
  top: 1503px;
  left: 418px;
  width: 105px;
  height: 98px;
  object-fit: cover;
}
.to-blogs,
.to-finance {
  position: absolute;
  top: 1931px;
  left: 404px;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito-sans);
  text-align: center;
  display: inline-block;
  width: 167px;
  height: 36px;
}
.to-finance {
  top: 1932px;
  left: 907px;
  width: 159px;
  height: 39px;
}
.home-page-child12 {
  position: absolute;
  top: 898px;
  left: 1131px;
  background-color: var(--color-mediumspringgreen-100);
  width: 254px;
  height: 52px;
}
.sponsor-us1 {
  margin: 0;
  font-size: var(--font-size-5xl-5);
  font-weight: 600;
}
.sponsor-us {
  position: absolute;
  top: 897px;
  left: 1130px;
  white-space: pre-wrap;
  display: inline-block;
  width: 255px;
  height: 53px;
  font-family: var(--font-inter);
}
.home-page {
  position: absolute;
  height: 59.03%;
  width: 14.36%;
  top: 20.47%;
  right: 81.22%;
  bottom: 20.5%;
  left: 4.42%;
  background-color: var(--color-white);
  overflow: hidden;
}
.frame-child {
  position: absolute;
  top: -0.5px;
  left: 701px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 38px;
  height: 1px;
}
.rectangle,
.rectangle1 {
  position: absolute;
  top: 2138px;
  left: 0;
  background-color: var(--color-mediumspringgreen-300);
  width: 1440px;
  height: 362px;
}
.rectangle1 {
  background-color: var(--color-steelblue);
}
.copyright-2021,
.mukesh-patel-school {
  position: absolute;
  top: 2257.9px;
  left: 74px;
  display: inline-block;
  width: 274px;
  height: 57px;
}
.copyright-2021 {
  top: 2423.8px;
  left: 431px;
  width: 411px;
  height: 19px;
}
.contact-us-mpstmefindromegma-container {
  position: absolute;
  top: 2337.8px;
  left: 74px;
  white-space: pre-wrap;
  display: inline-block;
  width: 274px;
  height: 38px;
}
.divsocial1 {
  position: absolute;
  top: calc(50% + 994px);
  left: calc(50% - 77px);
  width: 505px;
  height: 84.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.image-10-icon1 {
  position: absolute;
  top: 2138px;
  left: 74px;
  width: 178px;
  height: 91.9px;
  object-fit: cover;
}
.our-latest-blogs {
  position: absolute;
  top: 1525px;
  left: 104px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-shippori-antique);
  display: inline-block;
  width: 828px;
  height: 108px;
}
.frame-item {
  top: 1633px;
  left: 66px;
}
.arrow-icon,
.frame-child1,
.frame-inner,
.frame-item {
  position: absolute;
  width: 330px;
  height: 477px;
}
.frame-inner {
  top: 1633px;
  left: 478px;
  background-color: var(--color-skyblue);
}
.arrow-icon,
.frame-child1 {
  top: 1626px;
  left: 896px;
}
.arrow-icon {
  top: 1850.6px;
  left: 1263px;
  width: 118px;
  height: 28.9px;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 225px;
  left: 94px;
  background-color: var(--color-gainsboro);
  width: 993px;
  height: 337px;
}
.frame-child3 {
  top: 215px;
  left: 91px;
  width: 1032px;
  height: 403px;
}
.line-parent {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 1440px;
  height: 2500px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 34px;
  height: 13px;
}
.group-child2 {
  position: absolute;
  top: 18.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 35px;
  height: 1px;
}
.forum2,
.home-parent {
  position: absolute;
  top: 2px;
  left: 0;
  width: 34px;
  height: 19px;
}
.forum2 {
  top: 0;
  display: inline-block;
  width: 42px;
  height: 13px;
}
.forum-tab-child {
  position: absolute;
  top: 15.5px;
  left: 0;
  width: 37.5px;
  height: 1px;
}
.about-us2,
.forum-tab {
  position: absolute;
  top: 3px;
  left: 452px;
  width: 42px;
  height: 16px;
}
.about-us2 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 56px;
  height: 14px;
}
.about-tab-child {
  position: absolute;
  top: 17.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 56px;
  height: 1px;
}
.about-tab,
.events2 {
  position: absolute;
  top: 2px;
  left: 65px;
  width: 56px;
  height: 18px;
}
.events2 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 42px;
  height: 20px;
}
.events-tab-child {
  position: absolute;
  top: 17.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 38px;
  height: 1px;
}
.blog2,
.events-tab {
  position: absolute;
  top: 1px;
  left: 152px;
  width: 42px;
  height: 20px;
}
.blog2 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 84px;
  height: 21px;
}
.blog-tab-child {
  position: absolute;
  top: 18.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 27px;
  height: 1px;
}
.blog-tab,
.newsletter2 {
  position: absolute;
  top: 0;
  left: 225px;
  width: 84px;
  height: 21px;
}
.newsletter2 {
  left: 0;
  display: inline-block;
  width: 64px;
  height: 19px;
}
.newsletter-tab-child {
  position: absolute;
  top: 18px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 61px;
  height: 1px;
}
.finance5,
.newsletter-tab {
  position: absolute;
  top: 1px;
  left: 282px;
  width: 64px;
  height: 19px;
}
.finance5 {
  top: 0;
  left: 1px;
  display: inline-block;
  width: 45px;
  height: 17px;
}
.finance-tab-child {
  position: absolute;
  top: 15.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 47px;
  height: 1px;
}
.finance-tab,
.tabs {
  position: absolute;
  top: 3px;
  left: 377px;
  width: 46px;
  height: 17px;
}
.tabs {
  top: 59px;
  left: 585px;
  width: 494px;
  height: 21px;
}
.footer-tabs,
.forum-tab-item {
  position: absolute;
  top: 15.5px;
  left: 0;
  width: 39px;
  height: 1px;
}
.footer-tabs {
  top: 2184px;
  left: 666px;
  width: 494px;
  height: 21px;
}
.background-video {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 857px;
}
.background-video-wrapper {
  position: absolute;
  top: 616px;
  left: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0.2px;
  border-radius: var(--br-31xl);
  width: 1391px;
  height: 673.9px;
}
.motives-of-our,
.our-blogs-are-container1 {
  position: absolute;
  top: 23.9px;
  left: 118px;
  display: inline-block;
  width: 1273px;
  height: 164.2px;
}
.our-blogs-are-container1 {
  top: 137.9px;
  left: 72px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-nunito-sans);
  color: var(--color-black);
  width: 1212px;
  height: 455px;
}
.whatsapp-image-2023-09-09-at-1 {
  position: absolute;
  top: 153.9px;
  left: 930px;
  width: 430.1px;
  height: 423.8px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.group-child6 {
  position: absolute;
  top: 1125.9px;
  left: 273.1px;
  width: 101.7px;
  height: 106px;
}
.vector-container {
  position: absolute;
  top: 718px;
  left: 24px;
  width: 1391px;
  height: 673.9px;
  font-size: var(--font-size-61xl);
  color: var(--color-steelblue);
  font-family: var(--font-rozha-one);
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-16xl);
}
.the-more-you-container {
  position: absolute;
  top: 209px;
  left: 32px;
  display: inline-block;
  font-family: var(--font-nunito-sans);
  color: var(--color-black);
  text-align: center;
  width: 1086px;
  height: 312px;
  font-size: var(--font-size-71xl);
}
.image-14 {
  position: absolute;
  top: 101px;
  left: 32px;
  border-radius: var(--br-14xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1368px;
  height: 468px;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1440px;
  height: 626px;
}
.blogs-child {
  position: absolute;
  top: 152px;
  left: calc(50% - 687.6px);
  width: 1368px;
  height: 436px;
}
.home3 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 38.2px;
  height: 16.7px;
}
.group-child7 {
  position: absolute;
  top: 23.9px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 39.2px;
  height: 1px;
}
.home-parent1 {
  top: 2.6px;
  width: 38.2px;
  height: 24.4px;
}
.forum5,
.home-parent1,
.line-icon {
  position: absolute;
  left: 0;
}
.forum5 {
  top: 0;
  display: inline-block;
  width: 47.2px;
  height: 16.7px;
}
.line-icon {
  top: 20.1px;
  width: 42.1px;
  height: 1px;
}
.about-us5,
.forum-tab3 {
  position: absolute;
  top: 3.9px;
  left: 507.8px;
  width: 47.2px;
  height: 20.6px;
}
.about-us5 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 62.9px;
  height: 18px;
}
.about-tab-child1 {
  position: absolute;
  top: 22.6px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 62.8px;
  height: 1px;
}
.about-tab3,
.events5 {
  position: absolute;
  top: 2.6px;
  left: 73px;
  width: 62.9px;
  height: 23.1px;
}
.events5 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 47.2px;
  height: 25.7px;
}
.events-tab-child1 {
  position: absolute;
  top: 22.6px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 42.6px;
  height: 1px;
}
.blog5,
.events-tab3 {
  position: absolute;
  top: 1.3px;
  left: 170.8px;
  width: 47.2px;
  height: 25.7px;
}
.blog5 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 94.4px;
  height: 27px;
}
.blog-tab-child1 {
  position: absolute;
  top: 23.9px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 30.2px;
  height: 1px;
}
.blog-tab3,
.newsletter5 {
  position: absolute;
  top: 0;
  left: 252.8px;
  width: 94.4px;
  height: 27px;
}
.newsletter5 {
  left: 0;
  display: inline-block;
  width: 71.9px;
  height: 24.4px;
}
.newsletter-tab-child1 {
  position: absolute;
  top: 23.3px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 68.4px;
  height: 1px;
}
.finance11,
.newsletter-tab3 {
  position: absolute;
  top: 1.3px;
  left: 316.8px;
  width: 71.9px;
  height: 24.4px;
}
.finance11 {
  top: 0;
  left: 1.1px;
  display: inline-block;
  width: 50.6px;
  height: 21.9px;
}
.finance-tab-child1 {
  position: absolute;
  top: 20.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 52.7px;
  height: 1px;
}
.blogs1,
.finance-tab3,
.tabs2 {
  position: absolute;
  top: 3.9px;
  left: 423.6px;
  width: 51.7px;
  height: 21.9px;
}
.blogs1,
.tabs2 {
  top: 102px;
  left: 642px;
  width: 555px;
  height: 27px;
  color: var(--color-gold);
}
.blogs1 {
  height: 59.03%;
  width: 14.36%;
  top: 26.07%;
  right: 60.88%;
  bottom: 14.9%;
  left: 24.76%;
  background-color: var(--color-white);
  overflow: hidden;
  color: var(--color-lightseagreen);
}
.rectangle4 {
  position: absolute;
  top: -44px;
  left: -38px;
  background-color: var(--color-steelblue);
  width: 1495px;
  height: 671px;
}
.divsocial2 {
  position: absolute;
  top: calc(50% + 994px);
  left: calc(50% - 76.5px);
  width: 505px;
  height: 84.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xl);
}
.blank-line1 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.financial-freedom-is-container {
  position: absolute;
  top: 131px;
  left: 126px;
  display: flex;
  font-family: var(--font-nunito-sans);
  text-align: center;
  align-items: center;
  width: 1167px;
  height: 443px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  mix-blend-mode: multiply;
  font-size: var(--font-size-71xl);
}
.line-group {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1457px;
  height: 2472px;
  font-size: var(--font-size-base);
}
.footer-tabs1,
.tabs3 {
  position: absolute;
  top: 59px;
  left: 585px;
  width: 494px;
  height: 21px;
  color: var(--color-lightseagreen);
}
.footer-tabs1 {
  top: 2184px;
  left: 666px;
}
.blogs-inner,
.blogs-item {
  position: absolute;
  top: 1329px;
  left: 984px;
  width: 330px;
  height: 477px;
}
.blogs-inner {
  left: 520px;
}
.blogs-child1,
.blogs-child2,
.blogs-child3,
.blogs-child4,
.blogs-child5,
.blogs-child6 {
  position: absolute;
  top: 1318px;
  left: 74px;
  background-color: var(--color-mediumseagreen);
  width: 330px;
  height: 477px;
}
.blogs-child2,
.blogs-child3,
.blogs-child4,
.blogs-child5,
.blogs-child6 {
  top: 754px;
  left: 986px;
}
.blogs-child3,
.blogs-child4,
.blogs-child5,
.blogs-child6 {
  background-color: var(--color-skyblue);
}
.blogs-child4,
.blogs-child5,
.blogs-child6 {
  top: 1329px;
  left: 522px;
  background-color: var(--color-paleturquoise);
}
.blogs-child5,
.blogs-child6 {
  top: 745px;
  left: 74px;
  background-color: var(--color-mediumseagreen);
}
.blogs-child6 {
  background-color: var(--color-paleturquoise);
}
.blogs-child7,
.blogs-child8 {
  position: absolute;
  top: 754px;
  left: 525.5px;
  width: 330px;
  height: 477px;
}
.blogs-child8 {
  left: 526px;
  background-color: var(--color-lightblue);
}
.tabs4 {
  position: absolute;
  top: 59px;
  left: 585px;
  width: 494px;
  height: 21px;
  color: var(--color-yellow);
}
.image-14-icon {
  position: absolute;
  top: 101px;
  left: 70px;
  border-radius: var(--br-14xl);
  width: 1279px;
  height: 533px;
}
.our-blogs- {
  position: absolute;
  top: 651px;
  left: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-lato);
  text-align: center;
  display: inline-block;
  width: 1440px;
  height: 146px;
}
.blogs-child10,
.blogs-child9,
.blogs2 {
  position: absolute;
  top: 1318px;
  left: 74px;
  background-color: var(--color-skyblue);
  width: 330px;
  height: 477px;
}
.blogs-child10,
.blogs2 {
  top: 1329px;
  left: 982px;
  background-color: var(--color-lightblue);
}
.blogs2 {
  height: 59.03%;
  width: 14.36%;
  top: 25.83%;
  right: 23.81%;
  bottom: 15.14%;
  left: 61.83%;
  background-color: var(--color-white);
  overflow: hidden;
}
.image-1-icon3 {
  position: absolute;
  top: 0;
  left: 534px;
  width: 404px;
  height: 226px;
  object-fit: cover;
}
.about-us10 {
  position: absolute;
  top: 264px;
  left: 115px;
  display: inline-block;
  width: 142px;
  height: 35px;
}
.blog9,
.events9,
.finance19,
.newsletter9 {
  position: absolute;
  top: 265px;
  left: 322px;
  display: inline-block;
  width: 102px;
  height: 26px;
}
.blog9,
.finance19,
.newsletter9 {
  top: 263px;
  left: 484px;
  width: 84px;
}
.finance19,
.newsletter9 {
  left: 635px;
  width: 148px;
  height: 29px;
}
.finance19 {
  top: 265px;
  left: 854px;
  width: 106px;
  height: 21px;
}
.about-us-child {
  position: absolute;
  top: 290px;
  left: 115px;
  width: 102px;
  height: 2px;
}
.about-us-inner,
.about-us-item {
  position: absolute;
  top: 291px;
  left: 322px;
  width: 73px;
  height: 2px;
}
.about-us-inner {
  top: 290.5px;
  left: 482.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 52px;
  height: 1px;
}
.about-us-child1,
.about-us-child2 {
  position: absolute;
  top: 290px;
  left: 854px;
  width: 89px;
  height: 2px;
}
.about-us-child2 {
  top: 290.5px;
  left: 634.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 122px;
  height: 1px;
}
.group-child11,
.register-now1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 284.2px;
  height: 63px;
}
.register-now1 {
  top: 16px;
  left: 81px;
  display: inline-block;
  width: 250px;
  height: 30.9px;
}
.vector-parent1 {
  position: absolute;
  top: 2308px;
  left: 1109px;
  width: 331px;
  height: 63px;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
.about-us-inner1,
.frame-div,
.group-child12 {
  position: absolute;
  top: 0;
  width: 1449px;
  height: 354px;
}
.group-child12 {
  left: 0;
  background-color: var(--color-honeydew);
  mix-blend-mode: darken;
}
.about-us-inner1,
.frame-div {
  left: -9px;
}
.frame-div {
  top: 97px;
  left: 169px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.about-us-inner2,
.image-10-icon3 {
  position: absolute;
  top: 2135px;
  left: 0;
  width: 1440px;
  height: 421px;
}
.image-10-icon3 {
  top: 2219px;
  left: 12px;
  width: 368px;
  height: 213px;
  object-fit: cover;
}
.about-us11 {
  position: absolute;
  top: 2177px;
  left: 407px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 96px;
  height: 67px;
}
.blog10,
.events10,
.finance21,
.newsletter10 {
  position: absolute;
  top: 2181px;
  left: 546px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 108px;
  height: 30px;
}
.blog10,
.finance21,
.newsletter10 {
  top: 2177px;
  left: 680px;
  width: 94px;
  height: 34px;
}
.finance21,
.newsletter10 {
  top: 2179px;
  left: 783px;
  width: 116px;
  height: 30px;
}
.finance21 {
  top: 2177px;
  left: 934px;
  width: 120px;
  height: 27px;
}
.about-us-child3,
.about-us-child4,
.about-us-child5,
.about-us-child6,
.about-us-child7 {
  position: absolute;
  top: 2203.5px;
  left: 410.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 61px;
  height: 1px;
}
.about-us-child4,
.about-us-child5,
.about-us-child6,
.about-us-child7 {
  left: 545.5px;
  width: 56px;
}
.about-us-child5,
.about-us-child6,
.about-us-child7 {
  left: 680.5px;
  width: 40px;
}
.about-us-child6,
.about-us-child7 {
  left: 782.5px;
  width: 97px;
}
.about-us-child7 {
  left: 936.5px;
  width: 58px;
}
.image-11-icon3 {
  position: relative;
  width: 30.3px;
  height: 30.3px;
  object-fit: cover;
}
.link15 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 76.3px;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  max-width: 264px;
}
.vector-icon8,
.vector-icon9 {
  position: relative;
  width: 19.1px;
  height: 18.2px;
}
.vector-icon9 {
  width: 20.5px;
  height: 16.6px;
}
.image-12-icon3,
.image-13-icon3 {
  position: relative;
  width: 36.4px;
  height: 35.4px;
  object-fit: cover;
}
.image-12-icon3 {
  width: 23.3px;
  height: 28.3px;
}
.divsocial3,
.link19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link19 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-5xl)
    var(--padding-11xl);
  max-width: 264px;
}
.divsocial3 {
  position: absolute;
  top: calc(50% + 1062px);
  left: calc(50% - 247.7px);
  width: 479px;
  height: 106.9px;
  gap: var(--gap-5xl);
  transform: rotate(0.66deg);
  transform-origin: 0 0;
}
.group-child14,
.register-now2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  height: 48px;
}
.register-now2 {
  top: 12.2px;
  left: 64.9px;
  display: inline-block;
  width: 200.6px;
  height: 23.6px;
}
.copyright-20212,
.vector-parent2 {
  position: absolute;
  color: var(--color-black);
}
.vector-parent2 {
  top: 258px;
  left: 1112px;
  width: 265.5px;
  height: 48px;
  font-size: var(--font-size-mid);
  font-family: var(--font-nunito-sans);
}
.copyright-20212 {
  top: 2478px;
  left: 485px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 624px;
  height: 19px;
}
.about-us-child8 {
  position: absolute;
  top: 341px;
  left: -27px;
  background-color: var(--color-mediumspringgreen-200);
  width: 1567px;
  height: 737px;
}
.findrome-the,
.what-is-findorme {
  position: absolute;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-black);
}
.what-is-findorme {
  top: calc(50% - 890px);
  left: 229px;
  font-family: var(--font-puritan);
  width: 258px;
  height: 69px;
}
.findrome-the {
  top: 469px;
  left: 27.1px;
  font-family: var(--font-quattrocento-sans);
  width: 705.3px;
  height: 143.5px;
  transform: rotate(0.44deg);
  transform-origin: 0 0;
}
.group-child15 {
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 194px;
  height: 91px;
}
.about-us-inner3 {
  position: absolute;
  top: 989px;
  left: 262px;
  width: 184px;
  height: 81px;
}
.explore {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.explore-wrapper {
  position: absolute;
  top: 1013px;
  left: 309px;
  width: 99px;
  height: 33px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-quattrocento-sans);
}
.group-icon {
  position: absolute;
  top: 1190px;
  left: 575px;
  width: 312px;
  height: 901px;
}
.about-us-child9,
.our-members {
  position: absolute;
  top: 1204px;
  left: 42px;
  width: 312px;
  height: 900px;
}
.our-members {
  top: 1097px;
  left: 513px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-pt-serif-caption);
  color: var(--color-black);
  display: inline-block;
  width: 633px;
  height: 188px;
}
.about-us-child10,
.about-us9 {
  position: absolute;
  top: 342px;
  left: 767px;
  background-color: var(--color-gainsboro);
  width: 673px;
  height: 736px;
}
.about-us9 {
  height: 60.35%;
  width: 14.35%;
  top: 25.83%;
  right: 40.22%;
  bottom: 13.81%;
  left: 45.43%;
  background-color: var(--color-white);
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-lightseagreen);
}
.property-1default-child {
  position: absolute;
  height: 21.25%;
  width: 3.11%;
  top: 54%;
  right: 40.67%;
  bottom: 24.75%;
  left: 56.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.events-child {
  left: -14px;
  background-color: var(--color-mediumspringgreen-300);
  width: 1440px;
  height: 220px;
}
.events-child,
.home7,
.image-1-icon4 {
  position: absolute;
  top: 0;
}
.image-1-icon4 {
  left: calc(50% - 718.6px);
  width: 409px;
  height: 220px;
  object-fit: cover;
}
.home7 {
  left: 0;
  display: inline-block;
  width: 49.3px;
  height: 14.2px;
}
.group-child16 {
  position: absolute;
  top: 20.3px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 50.3px;
  height: 1px;
}
.forum9,
.home-parent5 {
  position: absolute;
  top: 2.2px;
  left: 0;
  width: 49.3px;
  height: 20.8px;
}
.forum9 {
  top: 0;
  display: inline-block;
  width: 61px;
  height: 14.2px;
}
.forum-tab-child4 {
  position: absolute;
  top: 17px;
  left: 0;
  width: 54.4px;
  height: 1px;
}
.about-us12,
.forum-tab7 {
  position: absolute;
  top: 3.3px;
  left: 656px;
  width: 61px;
  height: 17.5px;
}
.about-us12 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 81.3px;
  height: 15.3px;
}
.about-tab-child5 {
  position: absolute;
  top: 19.2px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 80.8px;
  height: 1px;
}
.about-tab7,
.events12 {
  position: absolute;
  top: 2.2px;
  left: 94.3px;
  width: 81.3px;
  height: 19.7px;
}
.events12 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 61px;
  height: 21.9px;
}
.events-tab-child5 {
  position: absolute;
  top: 19.2px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 54.7px;
  height: 1px;
}
.blog11,
.events-tab7 {
  position: absolute;
  top: 1.1px;
  left: 220.6px;
  width: 61px;
  height: 21.9px;
}
.blog11 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 121.9px;
  height: 23px;
}
.blog-tab-child5 {
  position: absolute;
  top: 20.3px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 38.7px;
  height: 1px;
}
.blog-tab7,
.newsletter11 {
  position: absolute;
  top: 0;
  left: 326.6px;
  width: 121.9px;
  height: 23px;
}
.newsletter11 {
  left: 0;
  display: inline-block;
  width: 92.9px;
  height: 20.8px;
}
.newsletter-tab-child5 {
  position: absolute;
  top: 19.8px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 88.1px;
  height: 1px;
}
.finance23,
.newsletter-tab7 {
  position: absolute;
  top: 1.1px;
  left: 409.3px;
  width: 92.9px;
  height: 20.8px;
}
.finance23 {
  top: 0;
  left: 1.5px;
  display: inline-block;
  width: 65.3px;
  height: 18.6px;
}
.finance-tab-child5 {
  position: absolute;
  top: 17px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 67.8px;
  height: 1px;
}
.finance-tab7,
.tabs5 {
  position: absolute;
  top: 3.3px;
  left: 547.2px;
  width: 66.8px;
  height: 18.6px;
}
.tabs5 {
  top: 131px;
  left: 524px;
  width: 717px;
  height: 23px;
  color: var(--color-lightseagreen);
}
.events-item {
  position: absolute;
  top: 2084px;
  left: 1px;
  background-color: var(--color-mediumspringgreen-300);
  width: 1440px;
  height: 466px;
}
.tabs6 {
  position: absolute;
  top: 2194px;
  left: 636px;
  width: 717px;
  height: 23px;
  color: var(--color-lightseagreen);
}
.divsocial4 {
  position: absolute;
  top: calc(50% + 994px);
  left: calc(50% + 41.4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.image-2-icon3 {
  position: absolute;
  top: 2084px;
  left: calc(50% - 719.6px);
  width: 409px;
  height: 220px;
  object-fit: cover;
}
.copyright-20213 {
  position: absolute;
  top: 2428px;
  left: calc(50% - 180.6px);
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 624px;
  height: 19px;
}
.mukesh-patel-school-container {
  position: absolute;
  top: 2305px;
  left: 76px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 332px;
  height: 123px;
}
.upcoming-and-past {
  position: absolute;
  top: calc(50% + 63px);
  left: calc(50% - 628.6px);
  font-size: var(--font-size-77xl);
  font-weight: 600;
  display: inline-block;
  width: 1302px;
  height: 230px;
}
.events-child1,
.events-child2,
.events-inner {
  position: absolute;
  top: 1549px;
  left: 77px;
  background-color: var(--color-mediumspringgreen-100);
  width: 330px;
  height: 477px;
}
.events-child1,
.events-child2 {
  left: 541px;
}
.events-child2 {
  left: 1005px;
}
.events-child3 {
  position: absolute;
  top: 692px;
  left: 1px;
  width: 1440px;
  height: 580px;
  object-fit: cover;
}
.events-child4 {
  position: absolute;
  top: 220px;
  left: 0;
  background-color: var(--color-aquamarine);
  width: 1441px;
  height: 472px;
}
.events-that-inspire {
  position: absolute;
  top: 245px;
  left: calc(50% - 529.6px);
  font-size: var(--font-size-45xl);
  font-family: var(--font-harmattan);
  display: inline-block;
  width: 1498px;
  height: 357px;
}
.events-child5 {
  position: absolute;
  top: 375px;
  left: calc(50% - 510.6px);
  background-color: var(--color-white);
  width: 1023px;
  height: 227px;
}
.join-us-as {
  position: absolute;
  top: 386px;
  left: calc(50% - 473.6px);
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 1039px;
  height: 216px;
}
.events11 {
  position: absolute;
  height: 60.21%;
  width: 14.36%;
  top: 26.04%;
  right: 8.25%;
  bottom: 13.74%;
  left: 77.39%;
  background-color: var(--color-white);
  overflow: hidden;
}
.events-that-inspire1 {
  position: absolute;
  height: 0.35%;
  width: 2.54%;
  top: 86.4%;
  left: 77.21%;
  font-family: var(--font-inter);
  display: inline-block;
}
.property-1default-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid var(--color-white);
  box-sizing: border-box;
}
.the-more-you-container1 {
  position: absolute;
  height: 8.83%;
  width: 12.29%;
  top: 30.51%;
  left: 26.15%;
  font-family: var(--font-dm-serif-text);
  text-align: center;
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  font-size: var(--font-size-71xl);
}
.image-15-icon {
  height: 12.4%;
  width: 14.36%;
  top: 28.22%;
  right: 23.81%;
  bottom: 59.39%;
  left: 61.83%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  mix-blend-mode: color-dodge;
}
.buttons1,
.image-15-icon,
.property-1default {
  position: absolute;
  overflow: hidden;
}
.property-1default {
  top: 30px;
  left: -391px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 10050px;
  height: 4235px;
}
.buttons1 {
  height: 4.09%;
  width: 4.18%;
  top: 17.17%;
  right: 66.05%;
  bottom: 78.75%;
  left: 29.78%;
  background-color: var(--color-white);
  font-size: var(--font-size-sm);
}
.about-us14,
.blog13,
.events14,
.finance27,
.newsletter13 {
  position: absolute;
  top: 59px;
  left: 513px;
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog13,
.events14,
.finance27,
.newsletter13 {
  left: 625px;
  width: 102px;
  height: 21px;
}
.blog13,
.finance27,
.newsletter13 {
  left: 737px;
  width: 84px;
}
.finance27,
.newsletter13 {
  left: 821px;
  width: 103px;
  height: 19px;
}
.finance27 {
  left: 933px;
  width: 106px;
  height: 17px;
}
.be-a-part1,
.findrome-ideas1,
.vector-parent3 {
  position: absolute;
  color: var(--color-black);
  font-family: var(--font-nunito-sans);
}
.be-a-part1 {
  top: 217px;
  left: 148px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 631px;
  height: 69px;
}
.findrome-ideas1,
.vector-parent3 {
  left: 157px;
}
.findrome-ideas1 {
  top: 308px;
  display: inline-block;
  width: 441px;
  height: 75px;
}
.vector-parent3 {
  top: 402px;
  width: 300.5px;
  height: 55px;
  font-size: var(--font-size-mid);
}
.rectangle-icon1 {
  position: absolute;
  height: 83.72%;
  width: 76.85%;
  top: 16.28%;
  right: 0;
  bottom: 0;
  left: 23.15%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-parent4 {
  position: absolute;
  top: 115px;
  left: 728px;
  width: 556px;
  height: 443px;
}
.our-previous-sponsors1 {
  top: 639px;
  left: 530px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 30px;
}
.and-many-more-container2,
.forum-frame,
.our-previous-sponsors1 {
  position: absolute;
  color: var(--color-black);
}
.and-many-more-container2 {
  top: 903px;
  left: 587px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  width: 222px;
  height: 78px;
}
.forum-frame {
  top: 59px;
  left: 1071px;
  width: 37px;
  height: 14px;
}
.about-us15,
.blog14,
.events15 {
  position: absolute;
  top: 2218px;
  left: 439px;
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog14,
.events15 {
  left: 551px;
  width: 102px;
  height: 21px;
}
.blog14 {
  left: 663px;
  width: 84px;
}
.newsletter14 {
  left: 747px;
  display: inline-block;
  width: 103px;
  height: 19px;
}
.finance29,
.forum-wrapper1,
.newsletter14 {
  position: absolute;
  top: 2218px;
}
.finance29 {
  left: 859px;
  display: inline-block;
  width: 106px;
  height: 17px;
}
.forum-wrapper1 {
  left: 997px;
  width: 37px;
  height: 14px;
  color: var(--color-black);
}
.divsocial5 {
  position: absolute;
  top: calc(50% + 1114px);
  left: calc(50% - 230px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.home-page-child23 {
  position: absolute;
  top: 956px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 777px;
}
.insights-of-our1 {
  position: absolute;
  top: 993px;
  left: 34px;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 978px;
  height: 97px;
}
.home-page-child24 {
  position: absolute;
  top: 1532px;
  left: 573px;
  background-color: var(--color-mediumspringgreen-100);
  width: 285px;
  height: 79px;
}
.to-the-events1 {
  position: absolute;
  top: 1546px;
  left: 594px;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito-sans);
  color: var(--color-black);
  display: inline-block;
  width: 229px;
  height: 50px;
}
.home-page1 {
  position: absolute;
  height: 59.03%;
  width: 14.36%;
  top: 25.83%;
  right: 80.3%;
  bottom: 15.14%;
  left: 5.35%;
  background-color: var(--color-white);
  overflow: hidden;
  color: var(--color-lightseagreen);
}
.frame-child6,
.frame-child7 {
  position: absolute;
  top: 1633px;
  left: 66px;
  background-color: var(--color-gainsboro);
  width: 330px;
  height: 477px;
}
.frame-child7 {
  left: 478px;
}
.line-container {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 1440px;
  height: 2500px;
  font-size: var(--font-size-base);
}
.our-blogs-are-container2 {
  position: absolute;
  top: 137.9px;
  left: 72px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-nunito-sans);
  display: inline-block;
  width: 1212px;
  height: 455px;
}
.vector-parent5 {
  position: absolute;
  top: 718px;
  left: 24px;
  width: 1391px;
  height: 673.9px;
  font-size: var(--font-size-61xl);
}
.the-more-you-container3 {
  position: absolute;
  top: 209px;
  left: 32px;
  display: inline-block;
  font-family: var(--font-nunito-sans);
  text-align: center;
  width: 1086px;
  height: 312px;
  font-size: var(--font-size-71xl);
}
.blogs3,
.rectangle7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumspringgreen-300);
  width: 1440px;
  height: 626px;
}
.blogs3 {
  height: 59.03%;
  width: 14.36%;
  top: 25.9%;
  right: 60.49%;
  bottom: 15.06%;
  left: 25.15%;
  background-color: var(--color-white);
  overflow: hidden;
}
.property-1variant2-child {
  position: absolute;
  height: 7.53%;
  width: 2.54%;
  top: 30.51%;
  right: 61.27%;
  bottom: 61.96%;
  left: 36.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle9 {
  position: absolute;
  top: -44px;
  left: -38px;
  background-color: var(--color-mediumspringgreen-300);
  width: 1495px;
  height: 671px;
}
.financial-freedom-is-container2 {
  position: absolute;
  top: 140px;
  left: 41px;
  display: inline-block;
  font-family: var(--font-nunito-sans);
  text-align: center;
  width: 1085px;
  height: 487px;
  font-size: var(--font-size-71xl);
}
.ellipse-div {
  position: absolute;
  top: 167px;
  left: 1101px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 211px;
  height: 340px;
}
.line-parent1 {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1457px;
  height: 2472px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.blogs-child15,
.blogs-child16,
.blogs-child18,
.blogs-child20 {
  position: absolute;
  top: 754px;
  left: 986px;
  background-color: var(--color-gainsboro);
  width: 330px;
  height: 477px;
}
.blogs-child16,
.blogs-child18,
.blogs-child20 {
  top: 1329px;
  left: 522px;
}
.blogs-child18,
.blogs-child20 {
  top: 745px;
  left: 74px;
}
.blogs-child20 {
  top: 754px;
  left: 526px;
}
.image-142 {
  position: absolute;
  top: 101px;
  left: 74px;
  border-radius: var(--br-14xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-mediumspringgreen-100);
  box-sizing: border-box;
  width: 1271px;
  height: 525px;
}
.our-blogs-1 {
  position: absolute;
  top: 651px;
  left: 0;
  font-size: var(--font-size-31xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 1440px;
  height: 146px;
}
.blogs-child21,
.blogs-child22,
.blogs4 {
  position: absolute;
  top: 1318px;
  left: 74px;
  background-color: var(--color-gainsboro);
  width: 330px;
  height: 477px;
}
.blogs-child22,
.blogs4 {
  top: 1329px;
  left: 982px;
}
.blogs4 {
  height: 59.03%;
  width: 14.36%;
  top: 25.83%;
  right: 23.81%;
  bottom: 15.14%;
  left: 61.83%;
  background-color: var(--color-white);
  overflow: hidden;
  color: var(--color-lightseagreen);
}
.divsocial8 {
  position: absolute;
  top: calc(50% + 1062px);
  left: calc(50% - 247.1px);
  width: 479px;
  height: 106.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  transform: rotate(0.66deg);
  transform-origin: 0 0;
}
.image-1-icon9 {
  position: absolute;
  top: 0;
  left: calc(50% - 719px);
  width: 409px;
  height: 220px;
  object-fit: cover;
}
.divsocial9 {
  position: absolute;
  top: calc(50% + 994px);
  left: calc(50% + 41px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.image-2-icon7 {
  position: absolute;
  top: 2084px;
  left: calc(50% - 720px);
  width: 409px;
  height: 220px;
  object-fit: cover;
}
.copyright-20217,
.upcoming-and-past1 {
  position: absolute;
  display: inline-block;
}
.copyright-20217 {
  top: 2428px;
  left: calc(50% - 181px);
  font-size: var(--font-size-mini);
  width: 624px;
  height: 19px;
}
.upcoming-and-past1 {
  top: calc(50% + 63px);
  left: calc(50% - 629px);
  font-size: var(--font-size-77xl);
  font-weight: 600;
  width: 1302px;
  height: 230px;
}
.events-that-inspire2 {
  position: absolute;
  top: 245px;
  left: calc(50% - 530px);
  font-size: var(--font-size-45xl);
  font-family: var(--font-harmattan);
  display: inline-block;
  width: 1498px;
  height: 357px;
}
.events-child13 {
  position: absolute;
  top: 375px;
  left: calc(50% - 511px);
  background-color: var(--color-white);
  width: 1023px;
  height: 227px;
}
.join-us-as1 {
  position: absolute;
  top: 386px;
  left: calc(50% - 474px);
  font-size: var(--font-size-21xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 1039px;
  height: 216px;
}
.events24 {
  position: absolute;
  height: 60.21%;
  width: 14.36%;
  top: 25.83%;
  right: 6.64%;
  bottom: 13.96%;
  left: 79%;
  background-color: var(--color-white);
  overflow: hidden;
}
.events-that-inspire3 {
  position: absolute;
  top: 86.4%;
  left: 77.21%;
  font-family: var(--font-inter);
}
.property-1variant2 {
  position: absolute;
  top: 4275px;
  left: 20px;
  width: 10028px;
  height: 4235px;
}
.property-1default-parent {
  position: relative;
  border-radius: 5px;
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 100%;
  height: 8530px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
