.image-1-icon12 {
  position: absolute;
  top: 9px;
  left: 129px;
  width: 178px;
  height: 92px;
  object-fit: cover;
}
.about-us32,
.blog29,
.events31,
.newsletter29 {
  position: absolute;
  top: 59px;
  left: 513px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog29,
.events31,
.newsletter29 {
  left: 625px;
  width: 102px;
  height: 21px;
}
.blog29,
.newsletter29 {
  left: 737px;
  width: 84px;
}
.newsletter29 {
  left: 821px;
  width: 103px;
  height: 19px;
}
.finance61 {
  margin: 0;
}
.finance60 {
  position: absolute;
  top: 59px;
  left: 933px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 106px;
  height: 17px;
}
.home-page-child42,
.home-page-child43,
.home-page-child44,
.home-page-child45,
.home-page-child46 {
  position: absolute;
  top: 77.5px;
  left: 512.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 55px;
  height: 1px;
}
.home-page-child43,
.home-page-child44,
.home-page-child45,
.home-page-child46 {
  left: 624.5px;
  width: 40px;
}
.home-page-child44,
.home-page-child45,
.home-page-child46 {
  left: 736.5px;
  width: 27px;
}
.home-page-child45,
.home-page-child46 {
  top: 77px;
  left: 820.5px;
  width: 61px;
}
.home-page-child46 {
  top: 75.5px;
  left: 932.5px;
  width: 47px;
}
.be-a-part3,
.findrome-ideas3 {
  position: absolute;
  font-family: var(--font-nunito-sans);
  display: inline-block;
}
.be-a-part3 {
  top: 217px;
  left: 148px;
  font-size: var(--font-size-21xl);
  width: 631px;
  height: 69px;
}
.findrome-ideas3 {
  top: 308px;
  left: 157px;
  width: 441px;
  height: 75px;
}
.group-child45,
.register-now9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 55px;
}
.register-now9 {
  top: 14px;
  left: 73.5px;
  display: inline-block;
  width: 227px;
  height: 27px;
}
.vector-parent12 {
  position: absolute;
  top: 402px;
  left: 157px;
  width: 300.5px;
  height: 55px;
  font-size: var(--font-size-mid);
  font-family: var(--font-nunito-sans);
}
.group-child46 {
  background-color: var(--color-honeydew);
  mix-blend-mode: darken;
}
.group-child46,
.home-page-inner6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 621px;
}
.rectangle-icon3,
.vector-icon29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 488px;
  height: 325.2px;
}
.rectangle-icon3 {
  height: 83.72%;
  width: 76.65%;
  top: 16.28%;
  right: 0;
  bottom: 0;
  left: 23.35%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon9,
.vector-parent13 {
  position: absolute;
  top: 115px;
  left: 728px;
  width: 558.8px;
  height: 443px;
}
.image-2-icon9 {
  top: 727px;
  left: 187px;
  width: 99px;
  height: 101px;
  object-fit: cover;
}
.our-previous-sponsors3 {
  position: absolute;
  top: 639px;
  left: 530px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 321px;
  height: 30px;
}
.image-3-icon3,
.image-4-icon3,
.image-5-icon3 {
  position: absolute;
  top: 727px;
  left: 372px;
  width: 111px;
  height: 139px;
  object-fit: cover;
}
.image-4-icon3,
.image-5-icon3 {
  top: 735px;
  left: 572px;
  width: 237px;
  height: 93px;
}
.image-5-icon3 {
  top: 727px;
  left: 895px;
  width: 156px;
  height: 139px;
}
.and-many-more-container7 {
  line-break: anywhere;
  width: 100%;
}
.and-many-more-container6 {
  position: absolute;
  top: 903px;
  left: 587px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  width: 222px;
  height: 78px;
}
.forum23 {
  position: absolute;
  top: 0;
  left: 0;
}
.forum-wrapper4,
.group-child47 {
  position: absolute;
  top: 59px;
  left: 1071px;
  width: 37px;
  height: 14px;
}
.group-child47 {
  top: 0;
  left: 0;
  background-color: var(--color-mediumspringgreen-300);
  width: 1440px;
  height: 421px;
}
.home-page-inner7,
.image-10-icon10 {
  position: absolute;
  top: 2079px;
  left: 0;
  width: 1440px;
  height: 421px;
}
.image-10-icon10 {
  top: 2168px;
  left: 158px;
  width: 178px;
  height: 92px;
  object-fit: cover;
}
.about-us33,
.blog30,
.events32,
.finance62,
.newsletter30 {
  position: absolute;
  top: 2218px;
  left: 439px;
  color: var(--color-lightseagreen);
  display: inline-block;
  width: 85px;
  height: 42px;
}
.blog30,
.events32,
.finance62,
.newsletter30 {
  left: 551px;
  width: 102px;
  height: 21px;
}
.blog30,
.finance62,
.newsletter30 {
  left: 663px;
  width: 84px;
}
.finance62,
.newsletter30 {
  left: 747px;
  width: 103px;
  height: 19px;
}
.finance62 {
  left: 859px;
  width: 106px;
  height: 17px;
}
.home-page-child47,
.home-page-child48,
.home-page-child49,
.home-page-child50,
.home-page-child51 {
  position: absolute;
  top: 2236.5px;
  left: 438.5px;
  border-top: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 55px;
  height: 1px;
}
.home-page-child48,
.home-page-child49,
.home-page-child50,
.home-page-child51 {
  left: 550.5px;
  width: 40px;
}
.home-page-child49,
.home-page-child50,
.home-page-child51 {
  left: 662.5px;
  width: 27px;
}
.home-page-child50,
.home-page-child51 {
  top: 2236px;
  left: 746.5px;
  width: 61px;
}
.home-page-child51 {
  top: 2234.5px;
  left: 858.5px;
  width: 47px;
}
.forum-wrapper5 {
  position: absolute;
  top: 2218px;
  left: 997px;
  width: 37px;
  height: 14px;
}
.image-11-icon12 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.link60 {
  border-radius: var(--br-17xl);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  max-width: 264px;
}
.vector-icon30 {
  position: relative;
  width: 19.1px;
  height: 18px;
}
.img24 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.9990198612213135px 1.9995994567871094px 2.999999761581421px
    2.9404296875px;
  box-sizing: border-box;
}
.vector-icon31 {
  position: relative;
  width: 20.4px;
  height: 16.6px;
}
.img25 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.6884751319885254px 1.8367011547088623px 3.738095760345459px
    1.7792999744415283px;
  box-sizing: border-box;
}
.image-12-icon12,
.image-13-icon12 {
  position: relative;
  width: 36px;
  height: 35px;
  object-fit: cover;
}
.image-12-icon12 {
  width: 23px;
  height: 28px;
}
.divsocial12 {
  position: absolute;
  top: calc(50% + 1114px);
  left: calc(50% - 229.6px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.image-6-icon3 {
  position: absolute;
  top: 728px;
  left: 1118px;
  width: 190px;
  height: 116px;
  object-fit: cover;
}
.home-page-child52 {
  position: absolute;
  top: 956px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 409px;
}
.insights-of-our3 {
  position: absolute;
  top: 993px;
  left: 34px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 978px;
  height: 97px;
}
.image-16-icon2 {
  position: absolute;
  top: 956px;
  left: 0;
  width: 1440px;
  height: 409px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home-page-child53 {
  position: absolute;
  top: 1250px;
  left: 595px;
  width: 285px;
  height: 79px;
}
.home-page-child54,
.home-page-child55,
.to-the-events3 {
  position: absolute;
  top: 1911px;
  left: 339px;
  width: 285px;
  height: 79px;
}
.home-page-child55,
.to-the-events3 {
  left: 844px;
}
.to-the-events3 {
  top: 1279px;
  left: 669px;
  font-size: var(--font-size-base);
  font-family: var(--font-nunito-sans);
  display: inline-block;
  width: 229px;
  height: 50px;
}
.home-page-child56 {
  position: absolute;
  top: 1499px;
  left: 946px;
  border-radius: var(--br-mini);
  width: 99px;
  height: 100px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.group-child48,
.home-page-child57 {
  position: absolute;
  top: 1388px;
  right: 190.2px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
  filter: blur(4px);
  width: 496px;
  height: 669px;
}
.group-child48 {
  top: 0;
  right: 365.7px;
}
.blogs6,
.findrome4 {
  position: absolute;
  display: inline-block;
}
.findrome4 {
  top: 228px;
  left: 191px;
  color: var(--color-mediumspringgreen-200);
  width: 250px;
  height: 42px;
}
.blogs6 {
  top: 262px;
  left: 168px;
  font-size: var(--font-size-26xl);
  width: 200px;
  height: 105px;
}
.vector-icon32 {
  position: absolute;
  top: 1764.7px;
  left: 995.5px;
  width: 101.2px;
  height: 338.3px;
}
.our-blogs-are-container4 {
  position: absolute;
  top: 353px;
  left: 79px;
  font-size: var(--font-size-xl);
  text-align: center;
  display: inline-block;
  width: 332px;
  height: 121px;
}
.rectangle-container {
  position: absolute;
  top: 1388px;
  right: 346.5px;
  width: 861.7px;
  height: 715px;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito-sans);
}
.sample-image2 {
  top: 1128px;
  left: 336px;
  font-size: var(--font-size-17xl);
  color: var(--color-yellow);
  width: 262px;
  height: 43px;
}
.finance64,
.financial-freedom-is4,
.findrome5,
.sample-image2 {
  position: absolute;
  font-family: var(--font-nunito-sans);
  display: inline-block;
}
.findrome5 {
  top: 1613px;
  left: 941px;
  font-size: var(--font-size-lg);
  color: var(--color-mediumspringgreen-100);
  width: 250px;
  height: 42px;
}
.finance64,
.financial-freedom-is4 {
  top: 1650px;
  left: 898px;
  font-size: var(--font-size-26xl);
  width: 208px;
  height: 52px;
}
.financial-freedom-is4 {
  top: 1741px;
  left: 832px;
  font-size: var(--font-size-xl);
  text-align: center;
  width: 310px;
  height: 121px;
}
.image-17-icon2 {
  position: absolute;
  top: 1503px;
  left: 418px;
  width: 105px;
  height: 98px;
  object-fit: cover;
}
.to-blogs2,
.to-finance2 {
  position: absolute;
  top: 1931px;
  left: 404px;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito-sans);
  text-align: center;
  display: inline-block;
  width: 167px;
  height: 36px;
}
.to-finance2 {
  top: 1932px;
  left: 907px;
  width: 159px;
  height: 39px;
}
.home-page-child58 {
  position: absolute;
  top: 898px;
  left: 1131px;
  background-color: var(--color-mediumspringgreen-100);
  width: 254px;
  height: 52px;
}
.sponsor-us5 {
  margin: 0;
  font-size: var(--font-size-5xl-5);
  font-weight: 600;
}
.sponsor-us4 {
  position: absolute;
  top: 897px;
  left: 1130px;
  white-space: pre-wrap;
  display: inline-block;
  width: 255px;
  height: 53px;
  font-family: var(--font-inter);
}
.home-page3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2500px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-rubik);
}
